html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    cursor: pointer;
    color: var(--black);
    text-decoration: none;
}

:root{
    --fontSize: 16px;
    --gray: #f3f1f1;
    --white: #fff;
    --black: #000;
    --orange: #fe6137;
}

body{
    font-size: var(--fontSize);
}

header{
    width: 100%;
    padding: 1.25rem;
    background-color: var(--gray);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

header div{
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

header div h1{
    margin-right: 4rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.5rem;
}

header div h1 a span{
    font-weight: 700;
    color: var(--orange);
    font-size: 1.8rem;
    margin-left: -0.625rem;
}

header div nav{
    width: 50%;
}

header div nav ul{
   display: flex;
   justify-content: space-around;
}

header div nav ul li{
    text-transform: uppercase;
    font-size: 0.9rem;
}

header div nav ul li a:hover{
    border-bottom: 2px solid var(--orange);
}

main{
    width: 100%;
}

main section{
    max-width: 1200px;
    margin: 100px auto 0px auto;
}

main section h2{
    margin: 1.25rem 0px;
    font-size: 1.2rem;
}

main section ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;
}

main section ul li{
    width: 100%;
    padding: 0.625rem;
    border: 1px solid var(--gray);
    -webkit-box-shadow: 6px 7px 5px -6px rgba(0,0,0,0.68);
    -moz-box-shadow: 6px 7px 5px -6px rgba(0,0,0,0.68);
    box-shadow: 6px 7px 5px -6px rgba(0,0,0,0.68);
}

main section ul li div{
    width: 100%;
    display: grid;
}

main section ul li div i{
    width: 100%;
    margin-bottom: 0.625rem;
    text-align: end;
    cursor: pointer;
    font-size: 1.2rem;
}

main section ul li div i:hover{
    color: var(--orange);
}

main section ul li div figure{
    width: 100%;
}

main section ul li div figure img{
    width: 100%;
}

main section ul li div p{
    text-align: center;
    padding: 0.625rem;
}

main > section > ul > li > div > p{
    color: var(--black);
    text-transform: uppercase;
}

main > section > ul > li > div > p > span{
    font-weight: 600;
}

main > section > ul > li > div > button{
    width: 100%;
    padding: 0.625rem;
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
    border: none;
}

main > section > ul > li > div > button:hover{
    filter: brightness(0.8);
    transition: filter 1s;
}

main > section > ul > li > div > button > p{
    padding: 0px;

}

main > section > ul > li > div > button > i{
    height: 100%;
    margin-bottom: 0px;
}
